# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
import pandas as pd

school_data = pd.read_csv("Resources/schools_complete.csv")
student_data = pd.read_csv("Resources/students_complete.csv")

school_and_student = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_and_student.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
school_count = school_and_student['school_name'].nunique()
school_count

15

In [3]:
student_count = school_and_student['student_name'].count()
student_count

39170

In [5]:
total_budget = school_and_student.groupby('school_name').budget.max().sum()
total_budget

24649428

In [10]:
math_sum = school_and_student['math_score'].sum()
average_math_score = math_sum/student_count
average_math_score

78.98537145774827

In [12]:
reading_sum = school_and_student['reading_score'].sum()
average_reading_score = reading_sum/student_count
average_reading_score

81.87784018381414

In [13]:
passing_math_count = school_and_student[(school_and_student["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [14]:
passing_reading_count = school_and_student[(school_and_student["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [15]:
passing_math_reading_count = school_and_student[
    (school_and_student["math_score"] >= 70) & (school_and_student["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [18]:
district_summary = pd.DataFrame({
    'Total Schools':school_count,
    'Total Students': student_count,
    'Total Budget': total_budget,
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    'Students Passing Math (Percent)': passing_math_percentage,
    'Students Passing Reading (Percent)': passing_reading_percentage,
    'Students Passing Both (Percent)': overall_passing_rate
},index=[0])

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Students Passing Math (Percent),Students Passing Reading (Percent),Students Passing Both (Percent)
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [25]:
school_summary = school_and_student.groupby('school_name')

In [27]:
school_type = school_summary.type.max()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [49]:
school_groupby = school_and_student.groupby(["school_name"]).count()
per_school_counts = school_groupby["student_name"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [42]:
per_school_budget = school_summary['budget'].max()
per_school_capita = school_summary['budget'].max()/school_summary['size'].max()

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [56]:
per_school_math = school_and_student.groupby("school_name")["math_score"].mean()
per_school_reading = school_and_student.groupby("school_name")["reading_score"].mean()

In [57]:
students_passing_math = school_and_student[(school_and_student["math_score"] >= 70)]

school_students_passing_math = students_passing_math.groupby("school_name").math_score.count()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [58]:
students_passing_reading = school_and_student[(school_and_student["reading_score"] >= 70)]

school_students_passing_reading = students_passing_reading.groupby("school_name").reading_score.count()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [59]:
students_passing_math_and_reading = school_and_student[
    (school_and_student["reading_score"] >= 70) & (school_and_student["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [60]:
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
per_school_summary = pd.DataFrame({
    'School Type': school_type,
    'Total Students': per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    '% Overall Passing': overall_passing_rate
})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

## Highest-Performing Schools (By % Overall Passing)

In [ ]:
top_schools =
top_schools.head()

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
bottom_schools =
bottom_schools.head()

## Math Scores by Grade

In [35]:
ninth_graders = school_and_student[(school_and_student["grade"] == "9th")]
tenth_graders = school_and_student[(school_and_student["grade"] == "10th")]
eleventh_graders = school_and_student[(school_and_student["grade"] == "11th")]
twelfth_graders = school_and_student[(school_and_student["grade"] == "12th")]

ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64